/*adbutton*/

/*---adbutton*/

.calendar {
    display: flex;
    justify-content: flex-start; 
    padding: 20px;
    position: relative;
    
}

.calendar-input {
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #050505;
    width: 200px;
    background-color: transparent;
    margin-top: 6px  ;
    color: #000000;
    text-transform: uppercase;

    margin-top: 20px;
}
.new{
    margin-top: 30px;
    
}
.form-control{
    text-transform: uppercase;
    font-weight: 400;
    
}
.form-label{
    margin-left: 5px;
   
}
.po{
    color: #000000;
}

















table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
   
}
thead th{
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(254, 254, 254);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
th, td{
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
    background-color: rgb(250, 249, 249);
    color: #ffffff;
   
    font-weight: 1000   ;
    font-size: large;
    
}

tbody td{
    font-size: 25px;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

    
    





body {
    background-color: #f8f9fa; 
  }

  .modal-content {
    background-color: #ffffff; 
    border-radius: 10px;
  }

  .modal-header {
    border-bottom: 2px solid #007bff; 
  }

  .modal-title {
    color: #ffffff; 
    border: #000000 solid 8px;
    border-radius: 25px;
    background-color: #000000;
    width: 120px;
    text-align: center;
  }

  .modal-footer {
    border-top: 2px solid #007bff; 
  }

.btn-dark{
    font-size: 20%;
}

  .btn-primary {
    background-color: #0056b3; /* Darker blue for primary button */
    border-color: #0056b3; /* Match border color with button */
  }

  .btn-primary:hover {
    background-color: #004085; /* Darker shade on hover */
    border-color: #004085; /* Match border color with button */
  }

  .btn-secondary {
    background-color: #6c757d; /* Custom secondary button color */
    border-color: #6c757d; /* Match border color with button */
  }

  .btn-secondary:hover {
    background-color: #5a6268; /* Darker shade on hover */
    border-color: #545b62; /* Match border color with button */
  }







